




/*
override default anchor
 */


a {
	color:#111;
}

a:hover {
	color:#212529;
}


 .page-link {
    color: #34bfa3!important;
   }

 .page-link:hover {
  color: #2ca189!important;
  text-decoration: underline;
 }

 .page-item.active .page-link {
    z-index: 1!important;
    color: #fff!important;
    background-color: #34bfa3!important;
    border-color: #34bfa3!important;
}


/* nella fattura */
div.m-invoice-2 .m-portlet.m-portlet--creative {
		padding-bottom: 3.5rem!important;
		border: 1px solid #eee!important;
    margin-left: 20px!important;
    margin-right: 20px!important;
}


table.riga_scadenza td {
	font-size: 1.3rem!important;
}

table.riga_scadenza td .m-badge {
	font-size: 1.3rem!important;
	margin-left: 20px!important;
	margin-bottom: 5px!important;
}


div.m-portlet .m-invoice-2 .m-invoice__wrapper .m-invoice__footer {
    background-color: inherit!important;
}

div.m-portlet .m-invoice-2 .m-invoice__wrapper .m-invoice__footer {
    margin-top: inherit!important;
    padding: inherit!important;
}



div.sezioni-cliente .m-demo {
	margin-bottom: 0px!important;
}


div.sezioni-cliente .m-demo .m-demo__preview {
	border:0px!important;
	padding: 0!important;
}


/*
override default anchor
 */


h3.info-cliente {
	flex-direction: column;
}


h3.info-cliente span.main{
	font-size: 1.5rem;
   font-weight: 600;
	color:#34bfa3!important;
}

h3.info-cliente span.other{
	font-size: .85rem;
	color: #6f727d;
}




/* data attivazione form clienti*/
.data_attivazione {
	font-weight: bold;
	font-size: 14px;
	letter-spacing: 1.6px!important;
	font-family: 'Roboto'!important;
}



/* portlet per i contatti form clienti */

.m-form.m-form--group-seperator-dashed .m-portlet__body
{
	padding-top: 1.7rem!important;
	padding-bottom: 1.7rem!important;
}


/* contenuto del contatto form clienti */
ul.content_contatto li {
	list-style: none;
	margin: 10px 0;
}

ul.content_contatto li span {
	color: #575962;
	font-size: 1.1rem;
  font-weight: 500;
  display: block;
}

/* icona pdf documento fea */
.fea_doc {
	font-size: 22px;
	color: #b10808;
}


.fea_doc_nome::after {
	content: ' documento FEA';
}


span.associazione_contatto {
	margin-left: 50px;
	margin-top: 15px;
}


li.dissocia {
	margin-left: -50px!important;
	margin-top: 50px!important;
}


#m_modal_contatti {
  height: 80%!important;
  overflow-y: auto!important;
  overscroll-behavior-y: auto!important;
  top: 100px!important;
}



/*elenco degli hotel del gruppo in form clienti*/
.container_gruppo {
	display: flex!important;
	flex-wrap: wrap;
	align-items: baseline;
}


.container_gruppo a {
border: 1px solid #299781;
color: #299781;
background-color: #fff;
border-radius: 1.43rem;
padding: .33rem 1.14rem .33rem 1.14rem;
/*font-size: .85rem;*/
font-weight: 500;
margin-right: .4rem;
text-decoration: none;
height: 30px;
text-align: center;
margin-bottom: 10px;
}


.container_gruppo a:hover {
	color: #fff;
   background-color: #299781;
}

.container_gruppo a.disattivato {
	border: 1px solid #f12143;
	color: #fff;
	background-color: #f4516c;
}

.container_gruppo a.disattivato:hover {
	border: 1px solid #f12143;
	background: #f12143!important;
	color: #fff!important;
}


.la-search:hover {
	cursor: pointer;
}

#searchForm .m-input-icon {
	width: inherit;
}

#searchForm span.label {
	margin-left: 30px;
}


th.order:hover {
	cursor: pointer;
}

